body{
	background-color: #C0C0C0;
	background-color: hsl(0,0%,70%);
}
p {
  background-color: #ffffff;
  background-color: hsla(0,100%,100%,0.5);
}

/*
The HSL stands for Hue, Saturation, Lightness.
This property allows you to specify color properties
using hue, saturation and lightness as above. If you
want to add opacity, you have to use hsla.
*/